/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}





/*
 * Global Variable
 */

:root {

	/* -- Neutral Colors --  */
	--white: #FFFFFF;
	--light: #FCFAFE;
	--neutral-1: #E1DFE3;
	--neutral-2: #C6C4C8;
	--neutral-3: #ABA9AD;
	--neutral-4: #8F8E92;
	--neutral-5: #747377;
	--neutral-6: #59585C;
	--neutral-7: #3E3D41;
	--dark: #222125;
	--black: #000000;

	/* -- Highlight Colors --  */
	--purple-1: #E2D6F8;
	--purple-2: #8A5CE5;
	--purple-3: #3C3055;
	--indigo-1: #BFB7F5;
	--indigo-2: #6C5CE7;
	--indigo-3: #423B7A;
	--blue-1: #C5CBFF;
	--blue-2: #7A88FF;
	--blue-3: #484E84;


	--container-width: 300px;
	--card: var(--container-width);

	--font-scale: 1.2;
	--h1-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h2-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h3-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h4-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h5-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h6-scale: calc(var(--font-scale) * var(--font-scale));
	--p-scale: calc(var(--font-scale));
	--label-scale: calc(var(--font-scale) / var(--font-scale));
	--small-scale: calc(var(--font-scale) / var(--font-scale) / var(--font-scale));
	--font-offset: 0.0375;

	--h1: calc(var(--h1-scale) * var(--card) * var(--font-offset) );
	--h2: calc(var(--h2-scale) * var(--card) * var(--font-offset) );
	--h3: calc(var(--h3-scale) * var(--card) * var(--font-offset) );
	--h4: calc(var(--h4-scale) * var(--card) * var(--font-offset) );
	--h5: calc(var(--h5-scale) * var(--card) * var(--font-offset) );
	--h6: calc(var(--h6-scale) * var(--card) * var(--font-offset) );
	--p: calc(var(--p-scale) * var(--card) * var(--font-offset) );
	--label: calc(var(--label-scale) * var(--card) * var(--font-offset) );
	--small: calc(var(--small-scale) * var(--card) * var(--font-offset) );


	--space-100 : calc(var(--card)/12);
	--space-25 : calc(var(--space-100) * 0.25);
	--space-50 : calc(var(--space-100) * 0.5);
	--space-75 : calc(var(--space-100) * 0.75);
	--space-125 : calc(var(--space-100) * 1.25);
	--space-150 : calc(var(--space-100) * 1.5);
	--space-175 : calc(var(--space-100) * 1.75);
	--space-200 : calc(var(--space-100) * 2);
}

@media( min-width: 360px )  {
	:root {
		--container-width: 340px;
	}
}

@media( min-width: 400px )  {
	:root {
		--container-width: 380px;
	}
}

@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
		--card: calc(var(--container-width)/2);
	}
}

@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
		--card: calc(var(--container-width)/3);
	}
}

@media( min-width: 1480px ) {
	:root {
		--space-min : 15px;
		--container-width: 1440px;
	}
}






/*
 *	Initialize
 */

body, .body {
	position: relative;
	color: var(--neutral-6);
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.375;
	background-color: var(--white);
}



h1, h2, h3, h4, h5, h6,
p, small, label {
	margin: 0;
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
a * { pointer-events: none; }

strong, .strong { font-weight: 700; }
.medium { font-weight: 500; }
em, .em { font-style: italic; }
/* .cursive { font-family: 'Grand Hotel', cursive; font-weight: 700; } */

hr {
	height: 2px;
	border: 0;
	margin: 0;
}





/*
 *
 *	Buttons
 *
 */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	height: var(--space-150);
	padding: 0 var(--space-50);
	font-size: var(--label);
	font-weight: 700;
	line-height: var(--space-150);
	/* text-transform: uppercase; */
	color: var(--white);
	background-color: var(--dark);
	box-shadow:
		0 2px 4px 0 rgba( 0, 0, 0, 0.3 ),
		inset 0 -2px 2px 0 rgba( 0, 0, 0, 0.3 ),
		inset 0 2px 2px 0 rgba( 255, 255, 255, 0.3 )
	;
	border: 0;
	border-radius: var(--space-25);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.3);

}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
	outline: 0;
	box-shadow: inset 0 1px 6px 1px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

input[ disabled ],
button[ disabled ] {
	cursor: auto;
}

.button .button-label {
	pointer-events: none;
	display: inline-block;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
	transform: translateY(-2px);
}
.button .button-icon {
	pointer-events: none;
	display: inline-block;
	width: var(--space-150);
	height: var(--space-150);
	vertical-align: middle;
	transform: translateY(-1px);
}




/*
 *
 *	Forms
 *
 */

.input-field,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: var(--space-150);
	padding: 0 var(--space-50);
	font-size: var(--p);
	color: var(--dark);
	background-color: transparent;
	border: 0;
	border-radius: var(--space-25);
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

textarea {
	padding-top: var(--space-50);
	padding-bottom: var(--space-50);
	min-height: calc(var(--space-100) + (var(--p) * 3));
}

.input-field:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	outline: 0;
	border: 0;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 6px 1px rgba(0, 0, 0, 0.2);
}

select { cursor: pointer; }


.input-field:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
textarea:disabled,
select:disabled {
	color: var(--neutral-3);
}


/* -- Form Row -- */
.form-row .form-label {
	color: var(--neutral-3);
	display: inline-block;
	cursor: pointer;
}

.form-row:focus-within .form-label {
	color: var(--orange-2);
}

.form-row:focus-within .input-field:focus,
.form-row:focus-within input[type="email"]:focus,
.form-row:focus-within input[type="number"]:focus,
.form-row:focus-within input[type="search"]:focus,
.form-row:focus-within input[type="text"]:focus,
.form-row:focus-within input[type="tel"]:focus,
.form-row:focus-within input[type="url"]:focus,
.form-row:focus-within input[type="password"]:focus,
.form-row:focus-within input[type="date"]:focus,
.form-row:focus-within textarea:focus,
.form-row:focus-within select:focus {
	color: var(--orange-2);
	outline: 0;
	border: 0;
	box-shadow: inset 0 0 1px 1px rgba(251, 137, 81, 0.2), inset 0 0 6px 1px rgba(251, 137, 81, 0.4);
}


.form-row input[type=radio],
.form-row input[type=checkbox] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	-moz-appearance: none;
		appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: var(--neutral-3);
	width: var(--space-75);
	height: var(--space-75);
	/*border: 2px solid currentColor;*/
	box-shadow: inset 0 0 1px 1px var(--neutral-3);
	border-radius: 100%;
	transform: translateY(-0.075em);
	display: inline-grid;
	vertical-align: middle;
	place-content: center;
	outline: 0;
}
.form-row input[type=radio]:checked,
.form-row input[type=checkbox]:checked {
	box-shadow: inset 0 0 0px 2px var(--neutral-6);
}
.form-row input[type=radio]:focus,
.form-row input[type=checkbox]:focus {
	box-shadow: inset 0 0 1px 1px rgba(251, 137, 81, 0.2), inset 0 0 6px 1px rgba(251, 137, 81, 0.4);
	outline: 0;
}
.form-row input[type=radio]::before,
.form-row input[type=checkbox]::before {
	content: "";
	width: var(--space-75);
	height: var(--space-75);
	-webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: center center;
	transition: .2 transform ease-in-out;
	box-shadow: inset var(--space-75) var(--space-75) var(--orange-2);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}
.form-row input[type=radio]:checked::before,
.form-row input[type=checkbox]:checked::before {
  transform: scale(.5);
}




/*
 *
 *	Typography
 *
 */

.h1 { font-size: var(--h1); }
.h2 { font-size: var(--h2); }
.h3 { font-size: var(--h3); }
.h4 { font-size: var(--h4); }
.h5 { font-size: var(--h5); }
.h6 { font-size: var(--h6); }
.p 	{ font-size: var(--p); }
.label { font-size: var(--label); }
.small { font-size: var(--small); }
.h1, .h2, .h3, .h4 {
	font-family: 'Playfair Display', Times, serif;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.125;
}
.p , .label, .small {
	line-height: 1.375;
}

/* -- Weights -- */
.w-400 { font-weight: 400; }
.w-500 { font-weight: 500; }
.w-700 { font-weight: 700; }

/* -- Line Height -- */
.line-height-small { line-height: 1 }
.line-height-regular { line-height: 1.125 }
.line-height-medium { line-height: 1.375 }
.line-height-large { line-height: 1.5 }
.line-height-xlarge { line-height: 1.625 }
.line-height-xxlarge { line-height: 2; }


/*
 *
 *	Fills
 *
 */

.fill-white { background-color: var(--white); }
.fill-light { background-color: var(--light); }
.fill-neutral-1 { background-color: var(--neutral-1); }
.fill-neutral-2 { background-color: var(--neutral-2); }
.fill-neutral-3 { background-color: var(--neutral-3); }
.fill-neutral-4 { background-color: var(--neutral-4); }
.fill-neutral-5 { background-color: var(--neutral-5); }
.fill-neutral-6 { background-color: var(--neutral-6); }
.fill-neutral-7 { background-color: var(--neutral-7); }
.fill-dark { background-color: var(--dark); }
.fill-black { background-color: var(--black); }
.fill-purple-1 { background-color: var(--purple-1); }
.fill-purple-2 { background-color: var(--purple-2); }
.fill-purple-3 { background-color: var(--purple-3); }
.fill-indigo-1 { background-color: var(--indigo-1); }
.fill-indigo-2 { background-color: var(--indigo-2); }
.fill-indigo-3 { background-color: var(--indigo-3); }
.fill-blue-1 { background-color: var(--blue-1); }
.fill-blue-2 { background-color: var(--blue-2); }
.fill-blue-3 { background-color: var(--blue-3); }





/*
 *
 *	Gradient
 *
 */

/*.fill-purple-gradient { background-image: linear-gradient(45deg, var(--blue-2) 0%, var(--pink-2) 100%); }*/
/*.fill-orange-gradient { background-image: linear-gradient(45deg, var(--red-2) 0%, var(--yellow-2) 100%); }*/
/*.fill-ochre-gradient { background-image: linear-gradient(45deg, var(--yellow-2) 0%, var(--green-2) 100%); }*/
/*.fill-teal-gradient { background-image: linear-gradient(45deg, var(--green-2) 0%, var(--blue-2) 100%); }*/





/*
 *
 *	Text Color
 *
 */

.text-white { color: var(--white); }
.text-light { color: var(--light); }
.text-neutral-1 { color: var(--neutral-1); }
.text-neutral-2 { color: var(--neutral-2); }
.text-neutral-3 { color: var(--neutral-3); }
.text-neutral-4 { color: var(--neutral-4); }
.text-neutral-5 { color: var(--neutral-5); }
.text-neutral-6 { color: var(--neutral-6); }
.text-neutral-7 { color: var(--neutral-7); }
.text-dark { color: var(--dark); }
.text-black { color: var(--black); }
.text-purple-1 { color: var(--purple-1); }
.text-purple-2 { color: var(--purple-2); }
.text-purple-3 { color: var(--purple-3); }
.text-indigo-1 { color: var(--indigo-1); }
.text-indigo-2 { color: var(--indigo-2); }
.text-indigo-3 { color: var(--indigo-3); }
.text-blue-1 { color: var(--blue-1); }
.text-blue-2 { color: var(--blue-2); }
.text-blue-3 { color: var(--blue-3); }





/*
 *
 *	Spacing
 *
 */

.space-min { padding: var(--space-min); }
.space-min-top { padding-top: var(--space-min); }
.space-min-bottom { padding-bottom: var(--space-min); }
.space-min-left { padding-left: var(--space-min); }
.space-min-right { padding-right: var(--space-min); }
.space-min-top-bottom { padding-top: var(--space-min); padding-bottom: var(--space-min); }
.space-min-left-right { padding-left: var(--space-min); padding-right: var(--space-min); }

.space-100 { padding: var(--space-100); }
.space-100-top { padding-top: var(--space-100); }
.space-100-bottom { padding-bottom: var(--space-100); }
.space-100-left { padding-left: var(--space-100); }
.space-100-right { padding-right: var(--space-100); }
.space-100-top-bottom { padding-top: var(--space-100); padding-bottom: var(--space-100); }
.space-100-left-right { padding-left: var(--space-100); padding-right: var(--space-100); }

.space-50 { padding: var(--space-50); }
.space-50-top { padding-top: var(--space-50); }
.space-50-bottom { padding-bottom: var(--space-50); }
.space-50-left { padding-left: var(--space-50); }
.space-50-right { padding-right: var(--space-50); }
.space-50-top-bottom { padding-top: var(--space-50); padding-bottom: var(--space-50); }
.space-50-left-right { padding-left: var(--space-50); padding-right: var(--space-50); }

.space-25 { padding: var(--space-25); }
.space-25-top { padding-top: var(--space-25); }
.space-25-bottom { padding-bottom: var(--space-25); }
.space-25-left { padding-left: var(--space-25); }
.space-25-right { padding-right: var(--space-25); }
.space-25-top-bottom { padding-top: var(--space-25); padding-bottom: var(--space-25); }
.space-25-left-right { padding-left: var(--space-25); padding-right: var(--space-25); }

.space-75 { padding: var(--space-75); }
.space-75-top { padding-top: var(--space-75); }
.space-75-bottom { padding-bottom: var(--space-75); }
.space-75-left { padding-left: var(--space-75); }
.space-75-right { padding-right: var(--space-75); }
.space-75-top-bottom { padding-top: var(--space-75); padding-bottom: var(--space-75); }
.space-75-left-right { padding-left: var(--space-75); padding-right: var(--space-75); }

.space-150 { padding: var(--space-150); }
.space-150-top { padding-top: var(--space-150); }
.space-150-bottom { padding-bottom: var(--space-150); }
.space-150-left { padding-left: var(--space-150); }
.space-150-right { padding-right: var(--space-150); }
.space-150-top-bottom { padding-top: var(--space-150); padding-bottom: var(--space-150); }
.space-150-left-right { padding-left: var(--space-150); padding-right: var(--space-150); }

.space-200 { padding: var(--space-200); }
.space-200-top { padding-top: var(--space-200); }
.space-200-bottom { padding-bottom: var(--space-200); }
.space-200-left { padding-left: var(--space-200); }
.space-200-right { padding-right: var(--space-200); }
.space-200-top-bottom { padding-top: var(--space-200); padding-bottom: var(--space-200); }
.space-200-left-right { padding-left: var(--space-200); padding-right: var(--space-200); }





/*
 *	Opacity
 */

.opacity-0 { opacity: 0; }
.opacity-25 { opacity: 0.25; }
.opacity-50 { opacity: 0.5; }
.opacity-75 { opacity: 0.75; }
.opacity-100 { opacity: 1; }





/* -- Radius -- */
.radius-25 { border-radius: var(--space-25); }
.radius-50 { border-radius: var(--space-50); }
.radius-75 { border-radius: var(--space-75); }
.radius-100 { border-radius: var(--space-100); }





/* -- Radius -- */
.shadow-1 { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); }
.shadow-2 { box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.05); }





/*
 *
 *	Material Icons
 *
 */

.material-icons {
	display: inline-block;
	font-size: inherit !important;
	line-height: inherit !important;
	vertical-align: middle;
	transform: translateY(-1px);
}
/* .material-icons {
	font-size: inherit !important;
	vertical-align: middle;
} */
.material-icons:after {
	content: attr(data-icon);
}




/* -- CDN Overrides -- */
/* If CloudFlare injects a banner, don't show it */
#cf_alert_div {
	display: none;
}
/* -- END: CDN Overrides -- */
